<div class="banner-shine" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("home2.jpeg") %>);">
  <div class="intro">
    <h1>Shine F.W.I</h1>
    <p>Artisanat made in Guadeloupe</p>
  </div>
</div>
