<div class="banner-shine" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("home2.jpeg") %>);">
  <div class="intro">
    <h1>Shine F.W.I</h1>
    <p>Artisanat made in Guadeloupe</p>
  </div>
  <div class="card-history">
    <div class="card-history-text">
      <h1>Notre histoire</h1>
      <p>Shine, c’est la douce histoire d’une voyageuse passionnée par l’art et la nature. Après plusieurs années à parcourir le globe, Claire a nourri l’idée de pouvoir un jour, vivre de ses passions. C’est de retour en Guadeloupe en 2020, que cette âme créative prend la décision de se lancer dans une aventure auto entrepreneuriale et de créer Shine French West Indies. Claire souhaite mettre en avant la Guadeloupe et sa culture caribéenne dans le but de dynamiser la vente de produits artisanaux à destination des touristes et de la population locale en créant une marque « Made in Gwada ». Chez Shine, nous sommes soucieux de notre impact sur la planete. Nous nous engagons a utiliser des cordes d'origine francaise ainsi que des accesoires naturels et durables. </p>
    </div>
    <div class="card-history-img style="background-image: url(<%= image_path("home2.jpeg") %>);">

    </div>
  </div>

</div>
