<div class="container">
  <h1>shoowroom bitch</h1>
  <div class="items">
    <% @items.each do |item|%>
      <div class="card-item">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-item-infos">
          <h5 class="item-name"><%= item.name %> </h5>
          <p class="item-description"><%=item.description.truncate(100)%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
