.group-of-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.summary-icons {
  color: $gold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px
  // align-items: center;
  // margin: 10px 0px 10px 0px;
}

.summary-icons-details {
  display: flex;
  flex-direction: column;
  width: 350px
}

.summary-icons-details > i {
  font-size: 12px;
  font-style: italic;
  color: $dark-blue;
}

.icon {
  display: flex;
  justify-content: start;
}
.card-item {
overflow: hidden;
background: white;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
padding: 10px;
border-radius: 5px;
align-items: center;
margin-bottom: 10px;
}

.card-item-infos {
  padding: 10px;
  max-height: 150px;
}

.card-item:hover {
  border-style:solid;
  border-color: $gold;
  border-width:2px;
  opacity: 0.5;

}
.card-item > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;

}

.card-item-infos h2 {
  font-size: 16px;
  font-family: "Mali";
  font-weight: bold;
  color: black;
}

.card-item-infos p {
  font-size: 12px;
  font-family: "Mali";
  margin: 0;
}


a:link, a:visited {
  text-decoration: none;
}
