.item-show-split {
  margin: 20px 0px;

}

.carousel-item-img {
  margin: auto;
  background-size:contain;
  height: 400px;
  max-width: 100%;
  border-radius: 20px;
}

.img {
  border-radius: 20px;
}

.item-show-description {
  border-right: 5px solid $gold;;
}

.item-show-split > h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 64px;
  font-family: "Moontime";
  color: $gold;
  border: solid;
  border-radius: 10px;
  border-color: $gold;
  margin-bottom: 20px;
}

.item-show-description > h2 {
  font-weight: bold;
  font-size: 32px;
  font-family: "Mali";
  color: $dark-blue;
  border-bottom: 1px solid $gold;
}

.item-show-description > p {
  font-weight: bold;
  font-size: 12px;
  font-family: "Mali";
  color: $ligh-blue;
}
